.indicator {
    pointer-events: none;
    display: inline-flex;
    align-items: center;
    gap: @gap-xs;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
}

.problem {
    color: var(--status-warn);
}

.recovered {
    color: var(--status-success);
}
